/**
 * @name Purple
 * @author cat
 * @description purple
 */

@import url('https://raw.githubusercontent.com/computer-catt/PurplePrune/refs/heads/main/PurplePrune.css');

/* config header */
:root,
.theme-dark {
    /* if backgrounds are enabled this acts as a background tint*/
    --window-tint: #0005;
    /*--window-tint: #0000;*/

    /* Theme Background, replace with none if you want transparency*/
    --theme-background-image: url(https://github.com/computer-catt/PurplePrune/blob/main/Assets/NightTheme.webp?raw=true);

    /* Works best with background enabled ^ */
    /* Blur  1 for on 0 for off*/
    --enable-blur: 1;
    --blur-strength: 6px;
}   /* end of config header */

/* translucent settings menu by benzeel V2 */
/* ------ SETTINGS MENU START ------ */

    /* settings menu scroll shadow */
      .fixedContent__409aa:after {
        border-top-left-radius:  8px;
        border-top-right-radius:  8px;
      }
    /* settings menu main BG */
      .content_e9e3ed {
        background: #00000046;
      }
      .contentHeader_e9e3ed {
        background: transparent !important;
      } 
    /* Security Keys BG */
      .credentialItem__6c75d {background: none;}
      .credentialItem__6c75d:is(:first-child) {border:0px;}
      .credentialList__6c75d {
        background: #0c0c0c83; 
        border-radius: 8px; 
        border: 1px solid var(--border-subtle);
      }
    /* krisp bg */
      .card__73069:not(.outline__73069) {background: none}
    /* keybinding bgs */
      .defaultKeybindGroup__740f2 {background: #2b2a2a63;}
    /* vencord quick actions */
      .vc-card-base {background: none;}
      .vc-settings-quickActions-pill {background: #55555571;}
      .vc-settings-quickActions-pill:hover {background: #7e7e7e71;}
    /* Plugins */
      .vc-addon-card {background: none;}
    /* server boosts */
      .appliedBoostContainer_ceb06a {
        background: none; 
        border: 1px solid var(--border-subtle);
      }
      .guildContainer__5dba5 {background: #3d3d3d52;}
      .boostContainer_ceb06a {background: #141414a1;}
    /* server boost faq */
      .wrapper__5b98e {background: #3d3d3d52;}
    /* Share nitro */
      .expandedProgressBarContainerSettingsPage_a61c56 {
        background: none;
        backdrop-filter: none;
      }
    /* my account */
      .accountProfileCard__1fed1 {
        background: #03030333; 
        border: 1px solid var(--border-subtle);
      }
      .background__1fed1 {
        background: #1818183b; 
        border: 1px solid var(--border-subtle);
      }
      .fieldList__1fed1 {background: none;}
    /* appearance */
      .cardPrimary__73069, .cardPrimary__73069.editable__73069 {background: #03030356;}

    /* "view reactions" popup & settings menu (for some reason)*/
    .container__8a031 {background: #14141494; backdrop-filter: blur(10px);}


[class^=page] > [class^=container] > [class^=scroller] {
    > [class^=wrapper], > [class^=container] { display: none; }
    > [class^=contentSection] > [class^=content] {
        max-width: unset;
        > [class^=content] > [class^=container] {
            max-width: unset;
            > [class^=container] > [class^=container]:has(> [class^=heroAssetWrapper]) { display: none; }
        }
    }
}


button[aria-label="Send a gift"],
div[aria-label="Send a gift"],
button[aria-label="Open Activity Modal"],
div[aria-label="Open Activity Modal"],
button[aria-label="Mute"],
button[aria-label="Input Options"],
button[aria-label="Noise Suppression powered by Krisp"],
div[aria-label="DevTools"],
button[aria-describedby]:has(+ span#«r3a»),



li[data-list-item-id="private-channels-uid_13128___shop"],
li:has(a[href="/shop"]),
li:has(a[href="/quest-home"]),
li:has(a[href="/store"]) {
    display: none !important;
}